body{
font-family:Arial;
background:#f5f6fa;
margin:0;
}

.dashboard{
width:600px;
margin:auto;
margin-top:50px;
}

h1{
text-align:center;
}

.progress{
display:flex;
justify-content:space-between;
margin:30px 0;
}

.step{
width:40px;
height:40px;
border-radius:50%;
background:#ddd;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
}

.active{
background:#6c63ff;
color:white;
}

.card{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

input{
width:100%;
padding:12px;
margin-top:10px;
border-radius:6px;
border:1px solid #ccc;
}

button{
margin-top:15px;
padding:12px;
width:100%;
background:#6c63ff;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}
body{
font-family:Arial;
background:#f5f7fb;
margin:0;
}

.header{
display:flex;
justify-content:center;
align-items:center;
gap:60px;
padding:40px;
background:white;
}

.logo{
height:120px;
}

.title{
text-align:center;
margin-top:20px;
}

form{
max-width:700px;
margin:auto;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

input, select{
width:100%;
padding:12px;
margin-top:10px;
margin-bottom:20px;
border-radius:6px;
border:1px solid #ccc;
}

button{
width:100%;
padding:14px;
background:#6c63ff;
color:white;
border:none;
border-radius:6px;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#574fd6;
}
